.buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 5px;
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}