@import "../../styles/colors.scss";
@import "./common-button-styles.scss";

.dangerButton {
    background-color: $invalid;
    border: 1px solid $white;
    color: $white;
}

.dangerButton:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: $identityDarkOpacity;
}