@import "../../styles/colors.scss";

.deleteButton {
    background-color: $invalid;
    border-radius: 5px;
    border: 1px solid $white;
    color: $white;
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.deleteButton:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: $identityDarkOpacity;
}