@import "../../styles/colors.scss";
@import "./common-button-styles.scss";

.lightButton {
    background-color: $identityLight;
    border: 1px solid $white;
    color: $white;
}

.lightButton:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: $identityDarkOpacity;
}