@import "../../styles/colors.scss";

.LoginTitle {
    font-size: 30px;
    color: $identityDark;
    margin-bottom: 15px;
}

.loginCardContainer {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 60vh;
    background-color: $white;
    opacity: 0.9;
    padding: 25px;
    border-radius: 15px;
    align-self: center;
    box-shadow: 2px 2px 2px $identityDark;
}

@media screen and (max-width: 600px) {
    .loginCardContainer {
        width: 98vw;
        height: 70vh;
        padding: 10px;
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
}

.loginInput {
    margin-top: 10px !important;
}

.loginButton {
    margin-top: 20px !important;
}

.loginProgress {
    display: flex;
    justify-content: center;
}

.loginSignUpContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
}

.loginSignUpQuestion {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    color: $identityDark;
}