@import "../../styles/colors.scss";

.LoginTitle {
    font-size: 30px;
    color: $identityDark;
    margin-bottom: 15px;
}

.loginCardContainer {
    display: flex;
    flex-direction: column;
    width: calc(60vh);
    height: 65vh;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 2px 2px 2px $identityDark;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
}

.loginInput {
    margin-top: 10px !important;
}

.loginButton {
    margin-top: 20px !important;
}

.loginProgress {
    display: flex;
    justify-content: center;
}

.loginSignUpContainer {
    display: flex;
    flex-direction: column;
    width: calc(60vh);
    padding: 10px 80px 80px 80px;
    border-radius: 8px;
    align-self: center;
    justify-content: center;
}

.loginSignUpQuestion {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    color: $identityDark;
}