$white: #FFF;
$black: #000;
$identity: #4FFFB0;
$identityLight: #A3EBB1;
$identityDark: rgb(24, 104, 62, 0.9);
$identityDarker: #116530;
$identityInter: #18A558;
$identityBreak: #21B6A8;
$identityMenu: #0c261a;
$identityMenuTop: #14402c;
$background: white;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;