$white: #FFF;
$black: #000;
$identity: #4FFFB0;
$identityDark: rgb(24, 104, 62, 0.9);
$background: white;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;